@import "mixins";

.wrap {
    width: 100vw;
    margin: auto;
}

.header {
    height: 10vh;
    background: #5298b0;
    position: relative;
    .avatar {
        position: absolute;
        top: 15%;
        left: 2%;
        background-color: white;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        @include respond(small) {
            top: 10%;
        }
        img {
            padding: 6px;
        }
    }
    button {
        position: absolute;
        right: 2%;
        top: 30%;
        background-color: black;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
    }
}

.chat-list-left {
    width: 27vw;
    height: 90vh;
    float: left;
    overflow-y: auto;
    box-shadow: 1px 1px 5px #bdbdbd;
    @include respond(medium) {
        width: 30vw;
    }
    h1 {
        text-align: center;
        font-size: 25px;
    }
    div {
        font-size: 20px;
        cursor: pointer;
    }
    .chats {
        padding-bottom: 60px;
        border-bottom: 1px solid rgb(223, 223, 223);
        @include respond(medium) {
            display: flex;
            flex-direction: column;
            padding-bottom: 0px;
        }
        .ongoing {
            float: left;
            padding: 19px;
            @include hover;
        }
        .archived {
            float: right;
            padding: 19px;
            @include hover;
        }
    }
}

.selected {
    font-weight: bold;
    background-color: #b8d1da;
}

.normal {
    font-weight: normal;
}

.list {
    border-radius: 5px;
    .chat-item {
        padding: 20px;
        &:hover {
            background-color: #b8d1da;
        }
    }
}

.chat-box-right {
    padding-left: 10px;
    width: 70vw;
    float: left;
    @include respond(medium) {
        width: 68vw;
    }
    @include respond(small) {
        width: 65vw;
    }
    .chat-box-agent {
        text-align: center;
        width: 100%;
        height: 90vh;
        position: relative;
        .chat-header {
            position: relative;
            padding: 83px 10px 10px;
            @include respond(medium) {
                padding-top: 20px;
            }
            border-bottom: 1px solid rgb(223, 223, 223);
            h1 {
                margin: 0;
                font-size: 25px;
                text-align: left;
                margin-left: 15px;
            }
            .leave-btn {
                @include archive-btn;
                top: 80px;
                @include respond(medium) {
                    top: 20px;
                }
            }
        }
        .chat-body {
            max-height: 68vh;
            @include message-box;
            @include respond(medium) {
                max-height: 74vh;
            }
            .agent {
                text-align: right;
                @include msg-box;
                p {
                    background-color: lightblue;
                    margin-left: 20%;
                }
            }
            .guest {
                text-align: left;
                @include msg-box;
                p {
                    margin-right: 20%;
                }
            }
        }
        .message-input {
            @include message-input;
            input {
                width: 95%;
                @include respond(medium) {
                    width: 90%;
                }
            }
            button {
                right: 2.5%;
                @include respond(medium) {
                    right: 5%;
                }
            }
        }
    }
}

.clear {
    clear: both;
}

