@import 'layout';
@mixin message-box {
    overflow-y: auto;
    text-align: left;
    p {
        background-color: rgb(223, 223, 223);
        border-radius: 5px;
        padding: 10px;
        margin:10px; 
    }
    span {
        margin: 20px;
    }
}

@mixin message-input {
    position: absolute;
    bottom: 10px;
    width: 100%;
    input {
        position: relative;
        border: none;
        border-radius: 30px;
        box-shadow: 1px 1px 5px #bdbdbd;
        padding:10px;
    }
    button {
        // padding: 8px;
        position: absolute;
        top: 7px;
        border: none;
        background-color: white;
        font-size: 20px;
        border-radius: 30%;
    }
}

@mixin archive-btn {
    position: absolute;
    right:10px;
    border: none;
    font-size: 25px;
    cursor: pointer;
    background-color: white;
}

@mixin border-top-radius {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

@mixin hover {
    a {
        padding:20px;
        &:hover {
            background-color: #b8d1da;
        }
    }
}