@mixin message-box {
    overflow-y: auto;
    text-align: left;
    p {
        background-color: rgb(223, 223, 223);
        border-radius: 5px;
        padding: 10px;
        margin:10px; 
    }
    span {
        margin: 20px;
    }
}

@mixin message-input {
    position: absolute;
    bottom: 10px;
    width: 100%;
    input {
        position: relative;
        border: none;
        border-radius: 30px;
        box-shadow: 1px 1px 5px #bdbdbd;
        padding:10px;
    }
    button {
        padding: 8px;
        position: absolute;
        top: 0;
        right: 19px;
        border-radius: 30px;
    }
}

@mixin archive-btn {
    position: absolute;
    top:15px;
    right:10px;
    padding: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

@mixin border-top-radius {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}