@import "layout","variable";

@mixin message-box {
    overflow-y: auto;
    text-align: left;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}

@mixin message-input {
    position: absolute;
    bottom: 20px;
    width: 100%;
    input {
        position: relative;
        border: none;
        border-radius: 30px;
        box-shadow: 1px 1px 5px $shadow-color;
        padding: 10px;
    }
    button {
        position: absolute;
        top: 7px;
        border: none;
        background-color: white;
        font-size: 20px;
        border-radius: 30%;
    }
}

@mixin archive-btn {
    position: absolute;
    right: 10px;
    border: none;
    font-size: 25px;
    cursor: pointer;
    background-color: white;
}

@mixin border-top-radius {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

@mixin hover {
    &:hover {
        background-color: $selected-color;
        color: white;
    }
}

@mixin msg-box {
    margin: 10px 0;
    p {
        display: inline-block;
        background-color: $sub-color2;
        padding: 10px;
        margin: 2px 10px;
        border-radius: 5px;
        // min-width: 140px;
        word-break: break-all;
        white-space: normal;
    }
    div {
        margin: 0 20px;
    }
}

@mixin chat-list {
    h1 {
        text-align: center;
        font-size: 25px;
    }
    div {
        font-size: 20px;
        cursor: pointer;
    }
    .chats {
        padding-bottom: 60px;
        border-bottom: 1px solid #bdbdbd;
        .ongoing {
            float: left;
            padding: 19px 50px;
            border-top-right-radius: 5px; 
            position: relative;
            @include hover;
            @include respond(large) {
                padding: 19px 25px;
            }
            @include respond(medium) {
                padding: 19px 20px;
                span {
                    display: none;
                }
            }
            span {
                position: absolute;
                background-color: $point-color;
                padding: 5px 8px;
                color: white;
                border-radius: 50px;
                font-size: 10px;
                top: 22px;
                margin-left: 3px;
            }
        }
        .archived {
            float: right;
            padding: 19px 50px;
            border-top-left-radius: 5px;
            @include hover;
            @include respond(large) {
                padding: 19px 25px;
            }
            @include respond(medium) {
                padding: 19px 20px;
            }
        }
    }
}

@mixin button {
    position: absolute;
    color: white;
    border: none;
    background-color: $main-color;
    cursor: pointer;
}